<div class="container header">
  <a routerLink="">
    <div class="logo"></div>
  </a>
  <ul [style.display]="this.currentUser?'flex':'none'"  class="menu">
    <li *ngFor="let item of _mainMenu">
      <a routerLink="{{item.href}}">
        <i class="{{item.fontAwesomeClass}}">
        </i>{{item.Title}}</a>
      </li>
  </ul>
  <ul class="mobile-menu">
    <li  *ngFor="let item of _mainMenu"><a routerLink="{{item.href}}"><i
      class="{{item.fontAwesomeClass}}"></i>{{item.Title}}</a></li>
  </ul>
  <button class="btn-mobile-menu">
    <i class="fas fa-bars"></i>
  </button>
</div>
