<div class="container header">
  <a routerLink="">
    <div class="logo"></div>
  </a>
  <ul [style.display]="this.currentUser?'flex':'none'"  class="menu">
    <li *ngFor="let item of _mainMenu">
      <a routerLink="{{item.href}}">
        <i class="{{item.fontAwesomeClass}}">
        </i>{{item.Title}}</a>
    </li>
    <li *ngIf="this.currentUser && this.currentUser!.role!=1">
      <a routerLink="MyGroup">
        <i class="fas fa-users">
        </i>קבוצות</a>
    </li>
    <li *ngIf="this.currentUser &&  this.currentUser!.role!=2">
      <a routerLink="Grade">
        <i class="fas fa-graduation-cap">
        </i>ציונים</a>
    </li>
    <li *ngIf="this.currentUser &&  this.currentUser!.role!=1">
      <a routerLink="HomeWork">
        <i class="fas fa-tasks">
        </i>עבודות</a>
    </li>
  </ul>
  <ul class="mobile-menu">
    <li  *ngFor="let item of _mainMenu"><a routerLink="{{item.href}}"><i
      class="{{item.fontAwesomeClass}}"></i>{{item.Title}}</a></li>
  </ul>
  <button class="btn-mobile-menu">
    <i class="fas fa-bars"></i>
  </button>
</div>
