.Title {
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  margin: 6px auto -6px auto;
}

.addFormUser{
  text-align: center;
  height: fit-content;
  flex: 1;

}
.addUser {
  padding-left: 15px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-radius: 10px;
}

.addFormUser .line h4 {
  text-align: center;
  padding: 5px;
}

.addFormUser .add-student{
  margin: 10px;
}

.student-container .ShowList {
  flex: 8;
}

.student-container .editUser {
  padding-right: 15px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-radius: 10px;
  /* display: none;
  transform: translate(-100px,0px); */
}

.student-container .editUser.show{
  display: block;
}
.student-container .editUser.playTranslate{
  transform: translate(-100px,0px);
}


@media(max-width:768px) {
  table tr {
    font-size: 1rem;
  }

  table th {
    font-size: 1.2rem;
  }
}
