<div class="container">
  <form class="Login">
    <h1 class="title"><i class="fas fa-user"></i> יצירת חשבון</h1>
    <div class="row1 row">
      <input  placeholder="שם משתמש" required>
      <i class="fas fa-signature"></i>
    </div>
    <div class="row2 row">
      <input  placeholder="סיסמה" required>
      <i class="fas fa-lock"></i>
    </div>
    <div class="row3 row">
      <input  placeholder="תעודת זהות" required>
      <i class="fas fa-id-card"></i>
    </div>
    <div class="row4 row">
      <input  placeholder="מספר נייד" >
      <i class="fas fa-mobile"></i>
    </div>
    <button type="submit">הרשמה</button>
  </form>
</div>
<i class="fas fa-angry"></i>
