<div style="text-align: center;" class="container title mt-2">
  <h1>{{currentGroup?.name}}</h1>
</div>
<div class="title container text-center">
  <h3>opening date:{{CustomDate(currentGroup.closingDate)}}</h3>
  <h3>Closing date:{{CustomDate(currentGroup.openingDate)}}</h3>
  <h3>count Studnets{{2}}</h3>
  <h3>count Teacher{{1}}</h3>
</div>
<div class="title container text-center">
  <h1>Users</h1>
</div>
<div class="container p-3">
  <div class="d-flex flex-wrap gap-3 text-black">
    <div  *ngFor="let user of users" class="card col-lg-3 ">
      <div class="card-header">
        <h1 *ngIf="user.role==3;else teacher">Student</h1>
        <ng-template #teacher>
        <h1 >Teacher</h1>
        </ng-template>
        {{user.idCard}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.firstName+" "+user.lastName}}</h5>
        <a [routerLink]="'/UserDetails/'+user.id" class="btn btn-primary">show details</a>
      </div>
    </div>
  </div>
</div>

