<div class="container title mt-2 text-center">
  <h3>Title:{{this.HomeWork.title}}</h3>
  <h3>Sending Date:{{this.HomeWork.sendingDate}}</h3>
  <a target="_blank" *ngIf="this.HomeWork.filesPath!=''" [href]="this.HomeWork.filesPath">
    <h3 >
      {{getFileName(this.HomeWork.filesPath)}}
    </h3>
  </a>
  <button class="btn btn-primary" (click)="downloadImage()">Download Image</button>
</div>

<div class="container">
  <p>{{this.HomeWork.contents}}</p>
  <h3 class="mt-2 text-center">
    Attached Files
  </h3>
</div>


