<div class="container Title">
  <h1>הודעות</h1>
</div>
<div class="container d-flex gap-2">
<form class="col-lg-4">
  <div class="mt-3 form-group">
    <label>ההודעה כותרת</label>
    <input (change)="ChangeTitle($event.target)" type="text" class="form-control">
    <label>שליחה ל </label>

    <select *ngIf="currentUser.role!=1" (change)="SelectReciver($event.target)"  class="mt-2 form-select" >
      <option value="0"  selected>שליחה ל</option>
      <option [value]="friend.id"  *ngFor="let friend of friends">
      {{friend.firstName}}~{{friend.email}}
      </option>
    </select>

    <select *ngIf="currentUser.role==1" (change)="SelectReciver($event.target)"  class="mt-2 form-select" >
      <option value="0"  selected>שליחה ל</option>
      <option [value]="group.id"  *ngFor="let group of groups">
      {{group.name}}
      </option>
    </select>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">תובן ההודעה</label>
      <textarea (change)="textAreaChange($event.target)" class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
    </div>
  </div>
  <button type="submit" (click)="SendMessage()" class="btn btn-primary mb-2">שליחה</button>
</form>

<div style="background-color: #0a6e8c;" class="col-lg-4">
  <label>הודעות יוצאות</label>
  <div  class="list-group listMessages">
    <div  #refMsg *ngFor="let msg of sentMsgs"  class="list-group-item msg ">
      <div class="mb-2">
        <span style="color: red; ">נשלחה ב~{{msg.sendingDate!}}</span>
      <button #refbtnShow (click)="showMessage(refbtnHide,refMsg,refContent,refbtnShow,msg)" class="btn-dark"><i class="fa fa-eye"> הצג הכל</i></button>
      </div>
      <span *ngIf="msg.reciver" class="info">{{msg.reciver?.email}}</span>
      <span class="title">{{msg.title}}</span>
      <div #refContent class="content">
        {{msg.contents}}
          <button style="display: none;" #refbtnHide  (click)="HideMessage(refbtnHide,refContent,refbtnShow)" class="btn-primary"><i class="fa fa-eye"> הסתר הכל</i></button>
    </div>
    </div>
  </div>
</div>

<div style="background-color: #0a6e8c;" class="col-lg-4">
  <label>הודעות נכנסות</label>
  <div  class="list-group listMessages">
    <div  #refMsg *ngFor="let msg of recivedMsgs" [ngClass]="!msg.isOpened?'active':''"  class="list-group-item msg ">
      <div class="mb-2">
        <i *ngIf="msg.sender?.role==1" style="color:red;" class="fa-user-shield fas"></i>
      <div class="float-start">
        <span style="color: red; ">נשלחה ב~{{msg.sendingDate!}}</span>
      <button #refbtnShow (click)="showMessage(refbtnHide,refMsg,refContent,refbtnShow,msg)" class="btn-dark"><i class="fa fa-eye"> הצג הכל</i></button>
      </div>
      </div>
      <span class="info">{{msg.sender?.email}}</span>
      <span class="title">{{msg.title}}</span>
      <div #refContent class="content">
        {{msg.contents}}
          <button style="display: none;" #refbtnHide  (click)="HideMessage(refbtnHide,refContent,refbtnShow)" class="btn-primary"><i class="fa fa-eye"> הסתר הכל</i></button>
    </div>
    </div>
  </div>
</div>
</div>
