<div class="container Title">
  <h1>קבוצות</h1>
  <h1>{{this.group.openingDate}}</h1>
  <h1>{{this.group.closingDate}}</h1>
</div>
<div class="container  d-flex gap-2">
<form class="col-4 col-lg-5">
  <div class="line form-group">
   <label>שם הקבוצה</label>
   <input [(ngModel)]="this.group.name"  name="name"   class="form-control" type="text">
   <label>תאריך פתיחת הקבוצה</label>
   <input #refOpening  (change)="ChangeDatePicker($event.target,0)" type="date" class="form-control">
   <label>תאריך סיום הקבוצה</label>
   <input  (change)="ChangeDatePicker($event.target,1)" type="date" class="form-control">
   <select (change)="ChangeOptionSelect($event.target)"  class="mt-2 form-select" >
    <option value="0"  selected>בחירה שם הקורס</option>
    <option *ngFor="let course of courses" [value]="course.id">{{course.name}} </option>
  </select>
  </div>
  <button (click)="saveGroupe()" class="btn-primary mt-2" type="submit">שמירת הקבוצה</button>
</form>
<table class="ps-2 pe-2 col-8  col-lg-7">
<thead>
  <th>שם הקבוצה</th>
  <th>שם הקורס</th>
  <th>תאריך פתיחת הקבוצה</th>
  <th>תאריך סיום הקבוצה</th>
  <th>פעולה</th>
</thead>
<tbody>
<tr *ngFor="let group of groups">
  <td>{{group.name}}</td>
  <td>{{GetCourseNameById(group.courseId!)?.name}}</td>
  <td>{{CustomDate(group.openingDate!)}}</td>
  <td #refClosing>{{CustomDate(group.closingDate!)}}</td>
  <td>
    <button (click)="editBtn(group)"  class=" btn bg-success">
    <i class="fa fa-edit " aria-hidden="true">
    </i>
    </button>
    <button (click)="deleteGroupe(group.id!)" class=" btn bg-danger">
      <i class="fa fa-trash " aria-hidden="true">
      </i>
      </button>
    <button [routerLink]="'/GroupDetails/'+group.id"  class="bg-body btn">
      <i class="fa fa-eye " aria-hidden="true">
      </i>
     </button>
</td>
</tr>
</tbody>
</table>
</div>
