
table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  /* font-size: 1.7rem; */
  color: black;
  background-color: var(--main-backColor);
  font-weight: bold;
}

table th {
  /* font-size: 2rem; */
  color: white;
}

table,
tr,
th,
td {
  border: 1px solid white;
  text-align: center;
  padding: 4px;
}

table td .fa-edit {
  cursor: pointer;
  padding: 3px 10px;
}

table td .fa-edit:hover,
table td .fa-trash:hover {
  color: white;
  transform: rotate(360deg);
}


@media(max-width:768px) {
  table tr {
    font-size: 1rem;
  }

  table th {
    font-size: 1.2rem;
  }
}
